<div class="row">
    <% for(let i=0; i < cartPosts.length; i++){ %>
    <div class="card mb-3 back-color-1 shadow-lg" style="max-height: 220px; width: 100%;">
        <div class="row" >
            <div class="col-3" style="height: 100%;">
                <img src=<%=cartPosts[i].IMG%> class="card-img" style="height: 100%; width: 220px;" alt="...">
            </div>
            <div class="col-5" >
                <div class="card-body" >
                    <h3 class="card-title pd-5"><%= cartPosts[i].PRODUCTNAME %></h3>
                    <p class="card-text"><%= cartPosts[i].USERNAME %></p>
                    <p class="card-text">Negotiable : <%= cartPosts[i].NEGOTIABLE %></p>
                    <small class="text-muted">Units Remaining: <%= cartPosts[i].REMAINING %></small></p>
                </div>
            </div>
            <div class="col-4" >
                <div class="card-body" >
                    <p class="card-text pd-3 " style="display: inline-block;">Quantity : </p>
                    <input type="text" class="form-control input" style="display: inline-block; width: 20%;" id=<%= "newQuantity" + i %> placeholder="<%= cartPosts[i].QUANTITY %>">
                    <button class="btn btn-dark pd-3" style="display: inline-block; width: 43%;" id=<%= "updateQuantity" + i %>>UPDATE</button>
                    <p class="card-text">Price :   <%= cartPosts[i].TOTAL %> </p>
                    <button class="btn btn-dark btn-block pd-3" id=<%= "removeFromCart" + i %>>REMOVE</button>
                </div>
            </div>
        </div>
    </div>
    <% } %> 
</div>