<div class="row">

<% for(let i=0; i < homePagePosts.length; i++){ %>

<div class="col-4">
    <% let postRoute = "/posts/" + homePagePosts[i].POST_ID + "/option" %> 

<div class="card mb-3 shadow-lg back-color-1">
<img src=<%=homePagePosts[i].IMG%> class="card-img-top" style="height: 15em;" alt="...">
<div class="card-body back-color-1">
    <a href = <%= postRoute %> class="card-link hlink-1">
        <h5 class="card-title"><%=homePagePosts[i].PRODUCTNAME%></h5>
    </a>
    <p class="card-text"><%=homePagePosts[i].DESCRIPTION%></p>
    <p class="card-text">Seller: <%=homePagePosts[i].USERNAME%> </p>
    <p class="card-text">Price: <%=homePagePosts[i].PRICE%> Tk</p>
    
    <% if(homePagePosts[i].NEGOTIABLE == 1){ %>
        <p class="card-text">(Price is Negotiable)</p>
    <% }else{ %>
        <p class="card-text">(Price is NOT Negotiable)</p>
    <% } %>

    <p class="card-text"><%=homePagePosts[i].REMAINING%> Units Remaining</p>
    <p class="card-text">This post was upvoted by <%=homePagePosts[i].UPVOTECOUNT%> people</p>
    <p class="card-text"><small class="text-muted">Created On: <%=homePagePosts[i].TIME%></small></p>

    <button class="btn btn-dark btn-block">Buy now</button>
    <button class="btn btn-dark btn-block" id=<%= "addCartButton" + i %>>Add to cart</button>
</div>
</div>

</div>

<% } %>

<% if(PageName == "home") { %> 
<script>
    let posts = <%- JSON.stringify(homePagePosts) %>;

    for (let i = 0; i < posts.length; i++) {
        $(`#addCartButton${i}`).click(function (e) {
            // console.log(posts[i]);
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: "/cart/addToCart",
            data: {
                POST_ID : posts[i].POST_ID
            },
            success: function (res) {
                $(`#cartNum`).html("(" + res.cartNum + ")"); 
            },
            error: function (result) {
                alert('error');
            }
            });
        });
    }
</script>
<% } %> 

</div>