<div style="text-align: center;">


<div class="card mb-4" style="width: 21rem;">
  <div class="card-body">
    <h5 class="card-title">Top Seller</h5>
    <p class="card-text">Explore the bussinessmen.</p>
  </div>

  <ul class="list-group list-group-flush">
    
    <% for(let i=0; i < topSellers.length; i++){ %>
    <li class="list-group-item">
      <a href="#" class="card-link link-secondary">
        <%=topSellers[i].USERNAME%>, Sell Count = <%=topSellers[i].SOLDNUM%>
      </a>
    </li>
    <% } %>
  
  </ul>

</div>

<div class="card mb-4" style="width: 21rem;">
  <div class="card-body">
    <h5 class="card-title">Star Seller</h5>
    <p class="card-text">Reliabiliy comes first.</p>
  </div>

  <ul class="list-group list-group-flush">
    
    <% for(let i=0; i < starSellers.length; i++){ %>
    <li class="list-group-item">
      <a href="#" class="card-link link-secondary">
        <%=starSellers[i].USERNAME%>, Avg Stars = <%=starSellers[i].STARS%>
      </a>
    </li>
    <% } %>
  
  </ul>

</div>


<div class="card mb-4" style="width: 21rem;">
  <div class="card-body">
    <h5 class="card-title">New Comer</h5>
    <p class="card-text">Let's see what's new</p>
  </div>

  <ul class="list-group list-group-flush">

    <% for(let i=0; i < newPosts.length; i++){ %>
    <li class="list-group-item">
      <a href="#" class="card-link">
        <p>Product Name: <%=newPosts[i].PRODUCTNAME%></p>
        <P>Seller: <%=newPosts[i].USERNAME%></P>
        <P>Price: <%=newPosts[i].PRICE%></P>
        <p>Posted On: <%=newPosts[i].TIME%></p>
      </a>
    </li>
    <% } %>

  </ul>

</div>


<div class="card mb-4" style="width: 21rem;">

  <div class="card-body">
    <h5 class="card-title">Most Reviewed</h5>
    <p class="card-text">Where authenticity matters</p>
  </div>

  <ul class="list-group list-group-flush">

    <% for(let i=0; i < mostReviewdPosts.length; i++){ %>
    <li class="list-group-item">
      <a href="#" class="card-link">
        <p>Product Name: <%=mostReviewdPosts[i].PRODUCTNAME%></p>
        <P>Seller: <%=mostReviewdPosts[i].USERNAME%></P>
        <P>Price: <%=mostReviewdPosts[i].PRICE%></P>
        <p>Reviewed by <%=mostReviewdPosts[i].REVIEWCOUNT%> people</p>
      </a>
    </li>
    <% } %>

  </ul>

</div>


</div>